{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}

    <div class="jumbotron"  style = "background: linear-gradient(#00693C, #1E1E1E,#A71930);" >
        <h1 class="display-2" style="color:azure" >Witaj {{user.first_name.title|default:'nieznajomy'}}!</h1>
        <p class="lead" style="color:azure">
            Oto nasz projekt.
        </p>
        <p class="lead" style="color:azure">
            <b>Kamil Starobrat i Jakub Sowa</b>
        </p>
        <hr class="my-4">
        <p class="lead" style="color:azure">
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Wyloguj się</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button" button style="background-color: rgb(31, 80, 216);border-color:rgb(31, 80, 216) ;">Zaloguj się</a>
            {% endif %}
        </p>
    </div>

{% endblock content %}