{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Witaj</h1>
        <p class="lead">
             <b>Projekt inzynieria</b> 
        </p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Wyloguj</a>
            <a class="btn btn-primary btn-lg" href="#" role="button">Zarejstruj sie</a>
        </p>
    </div>

{% endblock content %}